.root {
  width: 100%;
}

.header {
  border-bottom: 1px solid #d1d1d2;
}

.listHeader {
  font-family: HelveticaLTStd;
  font-size: 1.5rem;
  color: #a3a3a5;
  margin-bottom: 0.85rem;
}

.listPending {
  margin-bottom: 0.85rem !important;
}

.listItem {
  margin-bottom: 0.5rem;
  border-radius: 5px;
  border: solid 1px transparent;
  padding: 0rem 1rem;
  
  .currencyImg {
    width: 60px;
    height: 60px;
  }

  .textType1 {
    font-family: HelveticaLTStd-Roman;
    font-size: 1.1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #191a1f;
    margin-bottom: 0.25rem;
  }

  .textType2 {
    font-family: HelveticaLTStd-Roman;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #6b6c6f;
  }

  .inProgressText {
    font-family: HelveticaLTStd-Roman;
    font-size: 0.85rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.7px;
    color: #f89f36;
  }
}

.activeListItem {
  border: solid 1px #21bf73;
  background-color: #e9f9f1;
}

.transactionDetails {
  border-left: 1px solid #d1d1d2;

  .itemDetails {
    font-family: HelveticaLTStd-Roman;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  .itemDetails:first-child {
    margin-top: 2rem;
  }

  .itemHeader {
    color: #6b6c6f;
  }

  .itemValue {
    color: #191a1f;
  }
}

.noTransactionImg {
  width: 400px;
}

.noTransactions {
  color:#6b6c6f;
}

@media (max-width: 1366px) {
  .noTransactionImg {
    width: 350px;
  }
}