.headerSection {
  margin-bottom: 1.5rem;
}

.title {
  font-family: HelveticaLTStd;
  font-size: 2rem;
  font-weight: bold;
  color: #191a1f;
}

.searchInput {
  border-radius: 5px;
  border: solid 0.5px #bababc;
  height: 2rem;
  padding: 0.5rem 1rem !important
}

.searchInput:focus {
  border: solid 0.5px #bababc;
  outline: none;
}

.card {
  width: 22%;
  min-width: 200px;
  height: 100px;
  margin: 0 0 12px 0;
  border-radius: 5px;
  border: solid 1px #9e9ea1;
}

.card:hover {
  border: solid 1px #21bf73;
}