.root {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 80px); /* removing header height */
}

.navigation {
    min-width: 200px;
    border: solid 0.5px #d1d1d2;
}

.container {
    display: flex;
    flex-grow: 1;
}

@media (min-width: 1366px) {
    .navigation {
        min-width: 250px;
    }
}

@media (min-width: 1440px) {
    .navigation {
        min-width: 300px;
    }
}
