.root {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 80px); /* removing header height */
}

.navigation {
    width: 263px;
    border: solid 0.5px #d1d1d2;
}

.container {
    display: flex;
}